<link href="horizontal-menu.css" rel="stylesheet">
<p>
Bikes
</p>
<table>
  <tr aria-orientation="horizontal" >
    <td><button title="Add a Bike" onclick="addbike()"></button></td>&nbsp;&nbsp;<td>Sell a Bike</td>
  </tr>
</table>
<div>
</div>
<div>
</div>
<dl>
  <dt><b>{{sportone}}</b></dt>

    <div *ngFor="let bike of getLocalBikes()">
    <ul>
     <li>{{bike.Brand}} {{bike.Price}}</li>
   </ul>
   </div> 
    <div *ngFor="let bike of getLocalBikes()">
    <ul>
     <li>{{bike.Brand}} {{bike.Price}}</li>
   </ul>
   </div> 
</dl>
<dl>
  <dt><b>{{sportone}}</b></dt>
    <div *ngFor="let bike of getBikes()">
   <ul>
     <li>{{bike.Brand}} {{bike.Price}}</li>
   </ul>
   </div> 
</dl>
