<hello name="{{ name }}"></hello>
<h1>{{ name }}</h1>
<p>
  Start editing to see some magic happen :)
</p>
<dl>
  <dt><b>{{sportone}}</b></dt>
    <div *ngFor="let bike of Bikes">
   <ul>
     <li>{{bike.Brand}} {{bike.Price}}</li>
   </ul>
</div> 
  <dt><b>{{sporttwo}}</b></dt>
    <dd>Skiis</dd>  
  <dt><b>{{sportthree}}</b></dt>
</dl>
<table><tr><td>{{sportone}}</td></tr><tr><td>{{sporttwo}}</td></tr><tr><td>{{sportthree}}</td></tr></table>
<hr>
<hr>
<div *ngFor="let bike of Bikes">
   <ul>
     <li>{{bike.Brand}} {{bike.Price}}</li>
   </ul>
</div> 
